@import "../../theme";
paper-input-container.paper-input {
  padding-bottom: 20px;

  .underline.paper-input-container.is-highlighted {
    .focused-line.paper-input-container {
      background: $primary;
    }
  }
  .input-content.label-is-floating.label-is-highlighted {
    .label-and-input-container {
      label.paper-input {
        color: darken($primary, 10%);
      }
    }
  }
}
