@import "colors";
$primary: $paper-blue-grey-500;
$accent: $paper-orange-500;

// STANDARD COLORS
.background-primary {
  background-color: $primary;
}
.background-accent {
  background-color: $accent;
}
.color-primary {
  color: $primary;
}
.color-accent {
  color: $accent;
}

// TEXT CONTROL
.text-white {
  color: white;
}
.text-black {
  color: black;
}

body {
  height: 100%;

  paper-scroll-header-panel {
    height: 100%;
    #headerContainer {
      paper-toolbar {
        background: transparent;

        .toolbar-tools {
          .title {
            font-size: 40px;
            cursor: pointer;
            pointer-events: all;
          }
        }
      }
      #headerBg.paper-scroll-header-panel {
        background: linear-gradient(rgba($primary,0.6), rgba($primary,0.6)), url('/assets/oldchicagomid.jpg');
        background-position: center bottom !important;
      }
      #condensedHeaderBg.paper-scroll-header-panel {
        background: $primary;
      }
    }
  }

  paper-toast {
    paper-button.toast_button {
      color: $accent;
      text-transform: none;
    }
    &.success {
      background-color: $paper-green-700;
    }
    &.error {
      background-color: $paper-red-800;
    }
  }

  paper-spinner.cjd-spinner {
    #spinnerContainer {
      .spinner-layer.paper-spinner {
        border-color: $accent;
      }
    }
  }
}
