@import "colors";
$primary: $paper-teal-600;
$accent: $paper-orange-500;

// STANDARD COLORS
.background-primary {
  background-color: $primary;
}
.background-accent {
  background-color: $accent;
}
.color-primary {
  color: $primary;
}
.color-accent {
  color: $accent;
}

// TEXT CONTROL
.text-white {
  color: white;
}
.text-black {
  color: black;
}

// VISIBLE
.visible {
  opacity: 1;
}
.invisibile {
  opacity: 0;
}
