@import "colors";
$primary: $paper-teal-600;
$accent: $paper-orange-500;

// STANDARD COLORS
.background-primary {
  background-color: $primary;
}
.background-accent {
  background-color: $accent;
}
.color-primary {
  color: $primary;
}
.color-accent {
  color: $accent;
}

// TEXT CONTROL
.text-white {
  color: white;
}
.text-black {
  color: black;
}

// VISIBLE
.visible {
  opacity: 1;
}
.invisibile {
  opacity: 0;
}

button.Zebra_DatePicker_Icon.Zebra_DatePicker_Icon {
  right: 7px !important;
}

.Zebra_DatePicker {
  width: 210px !important;
  .dp_header, .dp_monthpicker, .dp_yearpicker, .dp_footer {
    width: 210px !important;
  }
  .dp_header {
    background: $accent;
    td.dp_caption, td.dp_next, td.dp_previous {
      &.dp_hover {
        background: darken($accent, 5%);
      }
    }
  }
  .dp_visible {
    z-index: 999;
  }
}
