@import "theme";

.route_info {
  background: #EEEEEE;
  margin-bottom: 3px;
  margin-right: 5px;
  cursor: pointer;

  &:hover {
    background: #DDDDDD;
  }

  &.selected {
    border: 2px solid $primary;
    margin-bottom: 1px;
    margin-right: 3px;
  }

  img {
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: 50px;
  }
}
