@import "../theme";

body {

  paper-scroll-header-panel {
    // #mainContainer {
    //   padding-top: 192px !important;
    // }
    #headerContainer {
      paper-toolbar {
        background: transparent;

        .toolbar-tools {
          .title {
            font-size: 40px;
            cursor: pointer;
            pointer-events: all;
            line-height: 2;
          }
        }
      }
      #headerBg.paper-scroll-header-panel {
        background: $primary;
        background-position: center bottom !important;
      }
      #condensedHeaderBg.paper-scroll-header-panel {
        background: $primary;
      }
    }
  }

  paper-card.home-card {
    div.header.paper-card {
      height: 200px;
    }
  }

  .blue_grey {
    background: $paper-blue-grey-500 !important;
  }

  paper-spinner.cjd-spinner {
    #spinnerContainer {
      .spinner-layer.paper-spinner {
        border-color: $accent;
      }
    }
  }
}
